
name: Deploy static HTML to Azure Web App

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'sivagoli1947'
          package: '.'   # If your index.html is in root; change if in subfolder
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
